<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybinal.shop.mapper.DTbulletMapper">
  <resultMap id="BaseResultMap" type="com.sybinal.shop.model.DTbullet">
    <id column="bullet" jdbcType="VARCHAR" property="bullet" />
    <result column="en" jdbcType="VARCHAR" property="en" />
    <result column="fr" jdbcType="VARCHAR" property="fr" />
    <result column="de" jdbcType="VARCHAR" property="de" />
    <result column="it" jdbcType="VARCHAR" property="it" />
    <result column="es" jdbcType="VARCHAR" property="es" />
    <result column="ru" jdbcType="VARCHAR" property="ru" />
    <result column="ja" jdbcType="VARCHAR" property="ja" />
    <result column="zh" jdbcType="VARCHAR" property="zh" />
  </resultMap>
  <sql id="Base_Column_List">
    bullet, en, fr, de, it, es, ru, ja, zh
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bullet
    where bullet = #{bullet,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bullet
    where bullet = #{bullet,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sybinal.shop.model.DTbullet">
    insert into bullet (bullet, en, fr, 
      de, it, es, ru, 
      ja, zh)
    values (#{bullet,jdbcType=VARCHAR}, #{en,jdbcType=VARCHAR}, #{fr,jdbcType=VARCHAR}, 
      #{de,jdbcType=VARCHAR}, #{it,jdbcType=VARCHAR}, #{es,jdbcType=VARCHAR}, #{ru,jdbcType=VARCHAR}, 
      #{ja,jdbcType=VARCHAR}, #{zh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sybinal.shop.model.DTbullet">
    insert into bullet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bullet != null">
        bullet,
      </if>
      <if test="en != null">
        en,
      </if>
      <if test="fr != null">
        fr,
      </if>
      <if test="de != null">
        de,
      </if>
      <if test="it != null">
        it,
      </if>
      <if test="es != null">
        es,
      </if>
      <if test="ru != null">
        ru,
      </if>
      <if test="ja != null">
        ja,
      </if>
      <if test="zh != null">
        zh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bullet != null">
        #{bullet,jdbcType=VARCHAR},
      </if>
      <if test="en != null">
        #{en,jdbcType=VARCHAR},
      </if>
      <if test="fr != null">
        #{fr,jdbcType=VARCHAR},
      </if>
      <if test="de != null">
        #{de,jdbcType=VARCHAR},
      </if>
      <if test="it != null">
        #{it,jdbcType=VARCHAR},
      </if>
      <if test="es != null">
        #{es,jdbcType=VARCHAR},
      </if>
      <if test="ru != null">
        #{ru,jdbcType=VARCHAR},
      </if>
      <if test="ja != null">
        #{ja,jdbcType=VARCHAR},
      </if>
      <if test="zh != null">
        #{zh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sybinal.shop.model.DTbullet">
    update bullet
    <set>
      <if test="en != null">
        en = #{en,jdbcType=VARCHAR},
      </if>
      <if test="fr != null">
        fr = #{fr,jdbcType=VARCHAR},
      </if>
      <if test="de != null">
        de = #{de,jdbcType=VARCHAR},
      </if>
      <if test="it != null">
        it = #{it,jdbcType=VARCHAR},
      </if>
      <if test="es != null">
        es = #{es,jdbcType=VARCHAR},
      </if>
      <if test="ru != null">
        ru = #{ru,jdbcType=VARCHAR},
      </if>
      <if test="ja != null">
        ja = #{ja,jdbcType=VARCHAR},
      </if>
      <if test="zh != null">
        zh = #{zh,jdbcType=VARCHAR},
      </if>
    </set>
    where bullet = #{bullet,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sybinal.shop.model.DTbullet">
    update bullet
    set en = #{en,jdbcType=VARCHAR},
      fr = #{fr,jdbcType=VARCHAR},
      de = #{de,jdbcType=VARCHAR},
      it = #{it,jdbcType=VARCHAR},
      es = #{es,jdbcType=VARCHAR},
      ru = #{ru,jdbcType=VARCHAR},
      ja = #{ja,jdbcType=VARCHAR},
      zh = #{zh,jdbcType=VARCHAR}
    where bullet = #{bullet,jdbcType=VARCHAR}
  </update>
</mapper>